body {
width: 100%;
margin: auto;
background-color: lightgray;
font-family: 'Poppins', sans-serif;
}

// main page style
  
.character-list {
    width: 70%;
    padding: 1rem 0;
    margin: 0 auto;
    &__header {
        margin-bottom: 1rem;
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
  
.search-bar {
    background-color: #fff;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    input {
        border: none;
        flex-grow: 1;
    }
    &__icon {
        border-left: 1px solid #b1b1b1;
        padding: 0 0.35rem;
        cursor: pointer;
    }
    
    @media (max-width: 768px) 
    {
        width: 100%;
    }
}
  
.card {
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px grey;
    &__image {
        img {
            width: 100px;
        }
    }
    &__content {
        padding: 0 0.5rem;
        display: flex;
        width: 100%;
    }
    &:hover {
        box-shadow: 0px 0px 8px black;
    }
  }
  
.pagination {
    display: flex;
    justify-content: center;
    &__item {
        width: 30px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.5rem;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
        &:hover {
            background-color: gray;
            border:none;
        }
        &:focus {
            outline: none;
        }
        &--active {
            background-color: #4ebdd6;
        }
    }
}
  
.character-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__name {
        font-weight: 700;
        flex-basis: 40%;
    }
    &__series,
    &__events {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        font-size: 0.7rem;
        p {
            margin: 0 0 0.2rem 0;
        }

        @media (max-width: 768px) 
        {
            display: none;
        }
    }   
}

.character-columns {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    &__character {
        flex-basis: 45%;
    }
    &__series,
    &__events {
        flex-basis: 27.5%;

        @media (max-width: 768px) 
        {
            display: none;
        }
    }
}

// detail page style

.character-detail {
    width: 100%;
    &__header {
        padding: 1rem;
        background-color: darkgrey;
        display: flex;

        &__button {
            background-color: darkred;
            border: 1px solid darkred;
            border-radius: 5px;
            padding: 0.5rem;
            color: white;
            cursor: pinter;
            &:hover {
                background-color: lighten(darkred, 10%);
            }
            &:focus {
                outline: none;
            }
        }

        &__title {
            flex-grow: 1;
            justify-content: center;
            display: flex;
            text-transform: uppercase;
            color: darkred;
            font-size: 18px;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 768px) 
        {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__image {
            flex-basis: 45%;
            min-width: 45%;
            
            img {
                width: 100%;
            }

            @media (max-width: 768px) 
            {
                flex-basis: 90%;
                min-width: 90%;
            }
        }
        &__info {
            margin: 0 2rem;
            text-align: justify;
            flex-basis: 45%;
            min-width: 45%;
            h1 {
                text-align: left;
            }
            @media (max-width: 768px) 
            {
                flex-basis: 90%;
                min-width: 90%;
            }
        }
        &__comics__header,
        &__events__header,
        &__series__header,
        &__stories__header {
            width: 100%;
            background-color: darkred;
            color: white;
            padding: 1rem 2rem;
            border-bottom: 1px solid white;
            h4 {
                text-transform: capitalize;
                margin-right: 0.5rem;
                display: inline-block;
            }

            @media (max-width: 768px) 
            {
                flex-basis: 90%;
                min-width: 90%;
                width: auto;
            }
        }
        &__comics__content,
        &__events__content,
        &__series__content,
        &__stories__content {
            padding: 2rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            p {
                flex-basis: 23%;
                margin: 0.5rem;
            }
            &--hide {
                display: none;
            }
        }
    }
}
  